* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(calc(180deg + 45deg), pink, purple, darkBlue);
} */

.main {
  width: 800px;
  margin: 0 auto;
}

.myImage {
  width: 200px;
  float: right;
  border-radius: 50%;
}

.info {
  float: right;
  clear: right;
  padding: 28px 0;
  text-transform: uppercase;
}

.first {
  padding-top: 80px;
}

.second {
  color: #ff0000;
  clear: right;
  padding: 20px 0 0 0;
}
