/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(calc(180deg + 45deg), pink, purple, darkBlue);
}

h1 {
  padding: 100px;
  background: linear-gradient(45deg, pink, purple, darkBlue);
  color: #fff;
  border: solid 20px #fff;
  border-radius: 50px;
} */

/* div {
  width: 150px;
  border: solid 2px #000;
} */

a {
  /* display: block; */
  display: inline;
  font-size: 3rem;
  background-color: red;
}
